.list {
  padding: 0;
  margin: 0;
}

.itemContainer {
  display: flex;
  align-items: center;
  width: 500px;
  height: 140px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: -3px 5px 12px -3px rgba(0, 0, 0, 0.75);
}

.status {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 16px;
}

.online {
  composes: status;
  background-color: #47b04b;
}

.offline {
  composes: status;
  background-color: #fe5056;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin-right: 25px;
}

.name {
  font-size: 40px;
}
